/* #region common */

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Poppins', serif;
  background-color: ffffff;
  font-size: 16px;
  color: #22343d;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/* #endregion common */

/* #region header */
.header-cont {
  margin-bottom: 25px;
}

.header-nav-link {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;

  line-height: 0.93;
  color: #173a56;

  margin-right: 237px;
}

.logo-img {
  width: 40px;
  height: 36px;
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-btns {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
}

.green-btn {
  color: #fff;
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.green-btn:hover,
.green-btn:focus {
  color: #173a56;
  border: 1px solid #bcd0e5;
  background-color: #fff;
}

.header-nav-btn {
  font-weight: 600;
  text-align: center;

  min-width: 113px;
  height: 42px;
}

.header-nav-list-item {
}

.header-nav-list-item-link {
  display: inline-block;
  font-weight: 400;

  line-height: 1.75;
  color: #22343d;
  padding-top: 26px;
  padding-bottom: 26px;

  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current,
.header-nav-list-item-link:hover,
.header-nav-list-item-link:active {
  font-weight: 600;
}

/* #endregion header */

/* #region hero */

.hero {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.hero-header {
  min-width: 452px;
  font-size: 40px;

  line-height: 1.5;
  padding-bottom: 18px;
}

.hero-text {
  font-size: 18px;

  line-height: 1.55;
  padding-bottom: 45px;
}

.hero-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-list-item {
}

.hero-list-btn {
  min-width: 178px;
  height: 53px;
}

.hero-list-btn-video {
  font-weight: 600;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;
  display: flex;
  gap: 8.66px;
  align-items: center;
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list-btn-video:hover,
.hero-list-btn-video:focus {
  text-decoration: underline;
}

.video-btn-ico {
  fill: #02897a;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-list-btn-video:hover .video-btn-ico,
.hero-list-btn-video:focus .video-btn-ico {
  transform: rotate(360deg);
}

.hero-img {
  width: 610px;
  height: 555px;
}

/* #endregion hero */

/* #region section-two */
.section-two {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.section-two-box {
}
.sec-two-hdr {
  max-width: 539px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 50px;
}
.sec-two-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.sec-two-list-item {
  flex-basis: calc((100% - 90px) / 4);
}
.sec-two-list-item-icon-box {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.icon-box-green {
  background-color: #02897a;
}

.icon-box-blue {
  background-color: #4d8dff;
}

.icon-box-purple {
  background-color: #740a76;
}

.icon-box-yellow {
  background-color: #f90;
}

.icon-box-red {
  background-color: #f03e3d;
}

.sec-two-list-item-icon {
  fill: #fff;
}
.sec-two-list-item-hdr {
  font-weight: 600;
  font-size: 22px;
  /* color: #22343d; */
  margin-bottom: 13px;
}
.sec-two-list-item-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.63;
  /* color: #22343d; */
}
.section-two-btn {
  min-width: 175px;
  height: 53px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* #endregion section-two */

/* #region section-three */
.section-three {
  margin-bottom: 100px;
}
.section-three-box {
  display: flex;
  gap: 84px;
  justify-content: center;
  align-items: center;
}
.section-three-subbox {
  padding: 41px 0;
}
.section-three-hdr {
  font-weight: 600;
  font-size: 16px;
}
.section-three-hdr-big {
  display: block;
  font-weight: 700;
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 25px;
}
.section-three-text {
  line-height: 1.63;
  margin-bottom: 30px;
}
.section-three-list {
}
.section-three-list-item:not(:last-child) {
  margin-bottom: 25px;
}
.section-three-list-hdr {
  font-weight: 600;
  font-size: 16px;

  line-height: 1.63;
  padding-bottom: 12px;
}
.section-three-list-text {
  /* font-weight: 400; */
  /* font-size: 16px; */

  line-height: 1.625;
}
.section-three-img {
  width: 540px;
  height: 500px;
}
/* #endregion section-three */

/* #region section-four */
.section-four {
  margin-bottom: 100px;
}

.section-four-box {
  display: flex;
  gap: 84px;
  justify-items: center;
  align-items: center;
}
.section-four-img {
  width: 540px;
  height: 500px;
}
.section-four-subbox {
  padding: 41px 35px 41px 0;
}
.section-four-hdr {
  font-weight: 600;
  font-size: 16px;
}
.section-four-hdr-big {
  font-weight: 700;
  font-size: 32px;
  display: block;
  margin-top: 8px;
  margin-bottom: 25px;
}
.section-four-text {
  line-height: 1.63;
  margin-bottom: 30px;
}
.section-four-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section-four-list-item {
  display: flex;
  gap: 30px;
}
.sec-four-list-item-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
}

.sec-four-list-item-icon {
  fill: #fff;
}

.section-four-list-item-text {
  width: 386px;

  line-height: 1.63;
}

/* #endregion section-four */

/* #region section-five */
.section-five {
  margin-bottom: 150px;
}
.section-five-box {
  display: flex;
  gap: 84px;
  justify-content: center;
  align-items: center;
}
.section-five-subbox {
  padding: 41px 0;
}
.section-five-hdr {
  font-weight: 600;
  font-size: 16px;
}
.section-five-hdr-big {
  display: block;
  font-weight: 700;
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 25px;
}
.section-five-text {
  line-height: 1.63;
  margin-bottom: 30px;
}
.section-five-list {
}
.section-five-list-item:not(:last-child) {
  margin-bottom: 25px;
}
.section-five-list-hdr {
  font-weight: 600;
  font-size: 16px;

  line-height: 1.63;
  padding-bottom: 12px;
}
.section-five-list-text {
  /* font-weight: 400; */
  /* font-size: 16px; */

  line-height: 1.63;
}
.section-five-img {
  width: 540px;
  height: 500px;
}
/* #endregion section-five */

/* #region section-six */
.section-six {
  margin-bottom: 100px;
}

.section-six-box {
  max-width: 916px;
  margin-left: auto;
  margin-right: auto;
}

.section-six-header {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.section-six-text {
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
  max-width: 542px;
  margin-left: auto;
  margin-right: auto;
}

.section-six-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 100px;
  margin-bottom: 50px;
}

.section-six-list-item {
}

.section-six-li-box {
  width: 408px;
  height: 98px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.section-six-list-item:nth-child(2) .section-six-li-box,
.section-six-list-item:nth-child(3) .section-six-li-box {
  flex-direction: row-reverse;
}

.section-six-li-img-thumb {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  overflow: hidden;
}

.section-six-list-item-img {
}

.section-six-li-text-box {
  width: 281px;
  height: 50px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-six-list-item-text {
  font-weight: 500;
  text-align: center;
}

.section-six-btn {
  min-width: 216px;
  height: 53px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green-btn {
}

/* #endregion section-six */

/* #region price */
.price {
  padding-top: 85px;
  padding-bottom: 50px;
}

.price-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
}

.price-text {
  margin-bottom: 40px;
  font-weight: 500;
  text-align: center;
}

.price-list {
  display: flex;
  gap: 72px;
}

.price-item {
  padding: 32px 0;
  width: calc((100% - 144px) / 3);
  text-align: center;
  font-family: 'Montserrat', serif;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-item-title {
  margin-bottom: 8px;
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
}
.price-item-text {
  margin-bottom: 16px;
  line-height: 2.5;
}

.price-item-inner {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-item-number {
  margin-right: 7px;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  color: #02897a;
}
.price-item-currency {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-item-term {
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-inner {
  margin-bottom: 30px;
}
.inner--item:not(:last-child) {
  margin-bottom: 16px;
}

.inner--item_item {
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.01em;
}

.btn {
  padding: 11px 0;
  min-width: 139px;
  font-weight: 600;
  font-size: 18px;
  background-color: #02897a;
  color: #fff;
  border-radius: 8px;
}

/* #endregion price */

.promo-container {
  width: 968px;
}

.text {
  width: 968px;
  height: 345px;
  background: #02897a;
}
